<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="t_table" style="width:496px;" cellspacing="0">
    <tbody>
    <tr>
        <td>
            <div align="left">
                <div align="center"><strong><span style="font-size:14px;">类型</span></strong></div>
            </div>
        </td>
        <td>
            <div align="left">
                <div align="center"><strong><span style="font-size:14px;">大小</span></strong></div>
            </div>
        </td>
        <td>
            <div align="left">
                <div align="center"><strong><span style="font-size:14px;">范围（有符号）</span></strong></div>
            </div>
        </td>
        <td>
            <div align="left">
                <div align="center"><strong><span style="font-size:14px;">范围（无符号）</span></strong></div>
            </div>
        </td>
        <td>
            <div align="left">
                <div align="center"><strong><span style="font-size:14px;">用途</span></strong></div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div align="left">TINYINT</div>
        </td>
        <td>
            <div align="left">1 字节</div>
        </td>
        <td>
            <div align="left">(-128，127)</div>
        </td>
        <td>
            <div align="left">(0，255)</div>
        </td>
        <td>
            <div align="left">小整数值</div>
        </td>
    </tr>
    <tr>
        <td>
            <div align="left">SMALLINT</div>
        </td>
        <td>
            <div align="left">2 字节</div>
        </td>
        <td>
            <div align="left">(-32 768，32 767)</div>
        </td>
        <td>
            <div align="left">(0，65 535)</div>
        </td>
        <td>
            <div align="left">大整数值</div>
        </td>
    </tr>
    <tr>
        <td>
            <div align="left">MEDIUMINT</div>
        </td>
        <td>
            <div align="left">3 字节</div>
        </td>
        <td>
            <div align="left">(-8 388 608，8 388 607)</div>
        </td>
        <td>
            <div align="left">(0，16 777 215)</div>
        </td>
        <td>
            <div align="left">大整数值</div>
        </td>
    </tr>
    <tr>
        <td>
            <div align="left">INT或INTEGER</div>
        </td>
        <td>
            <div align="left">4 字节</div>
        </td>
        <td>
            <div align="left">(-2 147 483 648，2 147 483 647)</div>
        </td>
        <td>
            <div align="left">(0，4 294 967 295)</div>
        </td>
        <td>
            <div align="left">大整数值</div>
        </td>
    </tr>
    <tr>
        <td>
            <div align="left">BIGINT</div>
        </td>
        <td>
            <div align="left">8 字节</div>
        </td>
        <td>
            <div align="left">(-9 233 372 036 854 775 808，9 223 372 036 854 775 807)</div>
        </td>
        <td>
            <div align="left">(0，18 446 744 073 709 551 615)</div>
        </td>
        <td>
            <div align="left">极大整数值</div>
        </td>
    </tr>
    <tr>
        <td>
            <div align="left">FLOAT</div>
        </td>
        <td>
            <div align="left">4 字节</div>
        </td>
        <td>
            <div align="left">(-3.402 823 466 E+38，1.175 494 351 E-38)，0，(1.175 494 351 E-38，3.402 823 466 351 E+38)
            </div>
        </td>
        <td>
            <div align="left">0，(1.175 494 351 E-38，3.402 823 466 E+38)</div>
        </td>
        <td>
            <div align="left">单精度<br>浮点数值</div>
        </td>
    </tr>
    <tr>
        <td>
            <div align="left">DOUBLE</div>
        </td>
        <td>
            <div align="left">8 字节</div>
        </td>
        <td>
            <div align="left">(1.797 693 134 862 315 7 E+308，2.225 073 858 507 201 4 E-308)，0，(2.225 073 858 507 201 4
                E-308，1.797 693 134 862 315 7 E+308)
            </div>
        </td>
        <td>
            <div align="left">0，(2.225 073 858 507 201 4 E-308，1.797 693 134 862 315 7 E+308)</div>
        </td>
        <td>
            <div align="left">双精度<br>浮点数值</div>
        </td>
    </tr>
    <tr>
        <td>
            <div align="left">DECIMAL</div>
        </td>
        <td>
            <div align="left">对DECIMAL(M,D) ，如果M&gt;D，为M+2否则为D+2</div>
        </td>
        <td>
            <div align="left">依赖于M和D的值</div>
        </td>
        <td>
            <div align="left">依赖于M和D的值</div>
        </td>
        <td>
            <div align="left">小数值</div>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>